[part="row"] {
    font-size: smaller;
}

[part~="row"]:hover [part~="body-cell"] {
    background-color: var(--kuwaiba-color-light_yellow);
}

[part~="cell"] ::slotted(vaadin-grid-cell-content) {
    cursor: pointer;
}