/* 
    Document   : main
    Created on : May 25, 2011, 4:19:52 PM
    Author     : Charles Edward Bedon Cortazar <charles.bedon@kuwaiba.org>
    Description:
        Main stylesheet.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    font-family: Arial,Helvetica,sans-serif;
}

a{
    text-decoration:none;
    color:#AA8800;
    border:none
}

a:hover{
    text-decoration: underline;
}
