// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
$v-field-background-color: #ccffe6;

@import "../valo/valo.scss";

@mixin defaultformstheme {
  @include valo;
  
    .v-label.empty {
        border-radius: 0px;
        border: 0px solid white;
    }
    
    .v-label {
        font-size: 11pt;
        line-height: 11pt;
        padding: 5px 5px 5px 5px; 
        padding-bottom: 15px;
        margin: 5px 5px 5px 5px; 
    }
    
    .v-label.bold {
        font-weight: bold;        
    }
    
    .v-label.title {
        color: green;
        font-size: 24pt;
    }
    
    .v-label.subtitle {
        color: green;
    }
    
    .v-verticallayout, .v-horizontallayout, .v-gridlayout {
        padding: 1px 1px 1px 1px;
        margin: 1px 1px 1px 1px;
    }
    
    .v-button {
        border: 2px solid lightgray;
        font-size: 11pt;
        line-height: 11pt;
        padding: 5px 5px 5px 5px; 
        padding-bottom: 15px;
        margin: 5px 5px 5px 5px; 
        height: 30px;
    }

    .v-textfield, .v-datefield, .v-filterselect { 
        font-size: 11pt;
        line-height: 11pt;
        
        height: 40px;
        width: 250px;
        padding: 1px 1px 1px 1px;
        padding-bottom: 10px;
        background-color: $v-field-background-color;
        margin: 1px 1px 1px 1px; 
    }

    .v-filterselect-input, .v-filterselect-button, .v-datefield-textfield, .v-datefield-button {
        background-color: $v-field-background-color;        
    }

    .v-grid-cell {
        background-color: $v-field-background-color;

    }
    
    .v-image {
        padding-left: 30px;        
        padding-bottom: 30px;
        margin: 5px 5px 5px 5px; 
    }

}
