<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="KuwaibaServerPersistenceUnit" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>KuwaibaDB</jta-data-source>
    <class>org.kuwaiba.entity.administrative.orders.CustomerOrder</class>
    <class>org.kuwaiba.entity.administrative.orders.GenericOrder</class>
    <class>org.kuwaiba.entity.administrative.orders.WorkOrder</class>
    <class>org.kuwaiba.entity.connections.GenericConnection</class>
    <class>org.kuwaiba.entity.connections.physical.ElectricalLink</class>
    <class>org.kuwaiba.entity.connections.physical.GenericPhysicalConnection</class>
    <class>org.kuwaiba.entity.connections.physical.OpticalLink</class>
    <class>org.kuwaiba.entity.connections.physical.RadioLink</class>
    <class>org.kuwaiba.entity.connections.physical.Wavelength</class>
    <class>org.kuwaiba.entity.connections.physical.containers.GenericPhysicalContainer</class>
    <class>org.kuwaiba.entity.connections.physical.containers.WireContainer</class>
    <class>org.kuwaiba.entity.connections.physical.containers.WirelessContainer</class>
    <class>org.kuwaiba.entity.core.AdministrativeItem</class>
    <class>org.kuwaiba.entity.core.ApplicationObject</class>
    <class>org.kuwaiba.entity.core.ConfigurationItem</class>
    <class>org.kuwaiba.entity.core.DummyRoot</class>
    <class>org.kuwaiba.entity.core.InventoryObject</class>
    <class>org.kuwaiba.entity.core.MetadataObject</class>
    <class>org.kuwaiba.entity.core.RootObject</class>
    <class>org.kuwaiba.entity.core.ViewableObject</class>
    <class>org.kuwaiba.entity.core.metamodel.AttributeMetadata</class>
    <class>org.kuwaiba.entity.core.metamodel.ClassMetadata</class>
    <class>org.kuwaiba.entity.core.metamodel.PackageMetadata</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.GenericApplicationElement</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.Laptop</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.Printer</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.Server</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.TimeSource</class>
    <class>org.kuwaiba.entity.equipment.applicationlayer.WorkStation</class>
    <class>org.kuwaiba.entity.equipment.containers.ACDistributionBoard</class>
    <class>org.kuwaiba.entity.equipment.containers.BatteryBank</class>
    <class>org.kuwaiba.entity.equipment.containers.Cabinet</class>
    <class>org.kuwaiba.entity.equipment.containers.CableManager</class>
    <class>org.kuwaiba.entity.equipment.containers.DCDistributionBoard</class>
    <class>org.kuwaiba.entity.equipment.containers.DDF</class>
    <class>org.kuwaiba.entity.equipment.containers.FiberCassette</class>
    <class>org.kuwaiba.entity.equipment.containers.FiberSplitter</class>
    <class>org.kuwaiba.entity.equipment.containers.FuseHolder</class>
    <class>org.kuwaiba.entity.equipment.containers.GenericContainer</class>
    <class>org.kuwaiba.entity.equipment.containers.GenericDistributionFrame</class>
    <class>org.kuwaiba.entity.equipment.containers.ODF</class>
    <class>org.kuwaiba.entity.equipment.containers.Rack</class>
    <class>org.kuwaiba.entity.equipment.containers.SpliceBox</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.ATMMux</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.DSLAM</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.GenericDataLinkElement</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.PDHMux</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.SDHMux</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.Switch</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.XDSLModem</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.parts.boards.ATMBoard</class>
    <class>org.kuwaiba.entity.equipment.datalinklayer.parts.boards.SDHBoard</class>
    <class>org.kuwaiba.entity.equipment.misc.AirConditioning</class>
    <class>org.kuwaiba.entity.equipment.misc.Slot</class>
    <class>org.kuwaiba.entity.equipment.networklayer.Firewall</class>
    <class>org.kuwaiba.entity.equipment.networklayer.GenericAppliance</class>
    <class>org.kuwaiba.entity.equipment.networklayer.GenericNetworkElement</class>
    <class>org.kuwaiba.entity.equipment.networklayer.MPLSSwitch</class>
    <class>org.kuwaiba.entity.equipment.networklayer.NIDS</class>
    <class>org.kuwaiba.entity.equipment.networklayer.Router</class>
    <class>org.kuwaiba.entity.equipment.networklayer.TrafficAnalyzer</class>
    <class>org.kuwaiba.entity.equipment.networklayer.parts.boards.IPBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.DWDMMux</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.ExternalEquipment</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.GenericPhysicalElement</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.OpticalAmplifier</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.OpticalLineTerminal</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.OpticalNetworkTerminal</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.RadioShelf</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.Transceiver</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.Antenna</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.GenericPart</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.KVMSwitch</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.SatelliteAntenna</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.DSLAMBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.DWDMBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.GenericBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.HybridBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.OLTBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.ONTBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.boards.RadioBoard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.computers.GenericComputerPart</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.computers.Keyboard</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.computers.Monitor</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.parts.computers.Mouse</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.DieselGenerator</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.GenericPowerElement</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.UPS</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.parts.Battery</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.parts.Breaker</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.parts.Fuse</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.parts.GenericPowerPart</class>
    <class>org.kuwaiba.entity.equipment.physicallayer.power.parts.Rectifier</class>
    <class>org.kuwaiba.entity.equipment.ports.ElectricalPort</class>
    <class>org.kuwaiba.entity.equipment.ports.GenericCommunicationsPort</class>
    <class>org.kuwaiba.entity.equipment.ports.GenericPort</class>
    <class>org.kuwaiba.entity.equipment.ports.NetworkPort</class>
    <class>org.kuwaiba.entity.equipment.ports.OpticalPort</class>
    <class>org.kuwaiba.entity.equipment.ports.PeripheralPort</class>
    <class>org.kuwaiba.entity.equipment.ports.PowerPort</class>
    <class>org.kuwaiba.entity.equipment.ports.VirtualPort</class>
    <class>org.kuwaiba.entity.location.Building</class>
    <class>org.kuwaiba.entity.location.City</class>
    <class>org.kuwaiba.entity.location.Continent</class>
    <class>org.kuwaiba.entity.location.Country</class>
    <class>org.kuwaiba.entity.location.Facility</class>
    <class>org.kuwaiba.entity.location.Floor</class>
    <class>org.kuwaiba.entity.location.GenericLocation</class>
    <class>org.kuwaiba.entity.location.GenericPhysicalNode</class>
    <class>org.kuwaiba.entity.location.OutdoorsCabinet</class>
    <class>org.kuwaiba.entity.location.Pole</class>
    <class>org.kuwaiba.entity.location.Room</class>
    <class>org.kuwaiba.entity.location.Shelter</class>
    <class>org.kuwaiba.entity.location.State</class>
    <class>org.kuwaiba.entity.location.Tower</class>
    <class>org.kuwaiba.entity.location.Warehouse</class>
    <class>org.kuwaiba.entity.logical.addressing.GenericAddress</class>
    <class>org.kuwaiba.entity.logical.addressing.IPv4Address</class>
    <class>org.kuwaiba.entity.logical.addressing.IPv4Subnet</class>
    <class>org.kuwaiba.entity.logical.addressing.IPv6Address</class>
    <class>org.kuwaiba.entity.logical.addressing.IPv6Subnet</class>
    <class>org.kuwaiba.entity.multiple.GenericObjectList</class>
    <class>org.kuwaiba.entity.multiple.GenericType</class>
    <class>org.kuwaiba.entity.multiple.companies.Contractor</class>
    <class>org.kuwaiba.entity.multiple.companies.CorporateCustomer</class>
    <class>org.kuwaiba.entity.multiple.companies.EquipmentProvider</class>
    <class>org.kuwaiba.entity.multiple.companies.GenericCompany</class>
    <class>org.kuwaiba.entity.multiple.companies.LocationOwner</class>
    <class>org.kuwaiba.entity.multiple.companies.ServiceProvider</class>
    <class>org.kuwaiba.entity.multiple.companies.TelecommunicationsOperator</class>
    <class>org.kuwaiba.entity.multiple.companies.Vendor</class>
    <class>org.kuwaiba.entity.multiple.misc.EnvironmentalCondition</class>
    <class>org.kuwaiba.entity.multiple.people.Employee</class>
    <class>org.kuwaiba.entity.multiple.people.ExternalSupportStaff</class>
    <class>org.kuwaiba.entity.multiple.people.GenericCustomer</class>
    <class>org.kuwaiba.entity.multiple.people.GenericPerson</class>
    <class>org.kuwaiba.entity.multiple.people.HomeCustomer</class>
    <class>org.kuwaiba.entity.multiple.software.Database</class>
    <class>org.kuwaiba.entity.multiple.software.GenericSoftwareItem</class>
    <class>org.kuwaiba.entity.multiple.software.NetworkService</class>
    <class>org.kuwaiba.entity.multiple.software.OperatingSystem</class>
    <class>org.kuwaiba.entity.multiple.states.GenericState</class>
    <class>org.kuwaiba.entity.multiple.states.OperationalState</class>
    <class>org.kuwaiba.entity.multiple.states.StructuralState</class>
    <class>org.kuwaiba.entity.multiple.types.connections.containers.PhysicalContainerType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.DSLAMType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.PrinterType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.TimeSourceType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.containers.DistributionFrameType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.containers.FiberCassetteType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.containers.FiberSplitterType</class>
    <class>org.kuwaiba.entity.multiple.types.equipment.containers.RackType</class>
    <class>org.kuwaiba.entity.multiple.types.links.ElectricalLinkType</class>
    <class>org.kuwaiba.entity.multiple.types.links.GenericPhysicalLinkType</class>
    <class>org.kuwaiba.entity.multiple.types.links.OpticalLinkType</class>
    <class>org.kuwaiba.entity.multiple.types.links.WireContainerType</class>
    <class>org.kuwaiba.entity.multiple.types.links.WirelessContainerType</class>
    <class>org.kuwaiba.entity.multiple.types.links.WirelessLinkType</class>
    <class>org.kuwaiba.entity.multiple.types.other.FacilityType</class>
    <class>org.kuwaiba.entity.multiple.types.other.RateType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.AntennaType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.CommunicationsPortType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.ComputerMonitorType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.KeyboardType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.MouseType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.PeripheralPortType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.PowerPortType</class>
    <class>org.kuwaiba.entity.multiple.types.parts.TowerType</class>
    <class>org.kuwaiba.entity.multiple.types.software.DatabaseType</class>
    <class>org.kuwaiba.entity.qos.OLA</class>
    <class>org.kuwaiba.entity.qos.SLA</class>
    <class>org.kuwaiba.entity.qos.services.GenericService</class>
    <class>org.kuwaiba.entity.qos.services.data.BurstableService</class>
    <class>org.kuwaiba.entity.qos.services.data.CableDataService</class>
    <class>org.kuwaiba.entity.qos.services.data.FTTHService</class>
    <class>org.kuwaiba.entity.qos.services.data.GenericDataService</class>
    <class>org.kuwaiba.entity.qos.services.data.GigaEthernetService</class>
    <class>org.kuwaiba.entity.qos.services.data.MobileDataService</class>
    <class>org.kuwaiba.entity.qos.services.data.PDHService</class>
    <class>org.kuwaiba.entity.qos.services.data.SDHService</class>
    <class>org.kuwaiba.entity.qos.services.data.SONETService</class>
    <class>org.kuwaiba.entity.qos.services.data.SatellitalDataService</class>
    <class>org.kuwaiba.entity.qos.services.data.xdsl.ADSLService</class>
    <class>org.kuwaiba.entity.qos.services.data.xdsl.GenericXDSLService</class>
    <class>org.kuwaiba.entity.qos.services.data.xdsl.SDSLService</class>
    <class>org.kuwaiba.entity.qos.services.data.xdsl.VDSLService</class>
    <class>org.kuwaiba.entity.qos.services.media.CableTVService</class>
    <class>org.kuwaiba.entity.qos.services.media.GenericMediaService</class>
    <class>org.kuwaiba.entity.qos.services.media.IPTVService</class>
    <class>org.kuwaiba.entity.qos.services.media.SatellitalMediaService</class>
    <class>org.kuwaiba.entity.qos.services.media.VoIPService</class>
    <class>org.kuwaiba.entity.qos.services.media.VoiceService</class>
    <class>org.kuwaiba.entity.qos.services.other.HostingService</class>
    <class>org.kuwaiba.entity.qos.services.other.HousingService</class>
    <class>org.kuwaiba.entity.qos.services.other.VPSService</class>
    <class>org.kuwaiba.entity.queries.Query</class>
    <class>org.kuwaiba.entity.session.ClientDetail</class>
    <class>org.kuwaiba.entity.session.Lock</class>
    <class>org.kuwaiba.entity.session.User</class>
    <class>org.kuwaiba.entity.session.UserGroup</class>
    <class>org.kuwaiba.entity.session.UserSession</class>
    <class>org.kuwaiba.entity.views.ClassView</class>
    <class>org.kuwaiba.entity.views.DefaultView</class>
    <class>org.kuwaiba.entity.views.GenericView</class>
    <class>org.kuwaiba.entity.views.RackView</class>
    <class>org.kuwaiba.entity.qos.services.GenericHomeService</class>
    <class>org.kuwaiba.entity.qos.services.GenericCorporateService</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.cache.shared.default" value="false"/>
      <!-- <property name="eclipselink.logging.level" value="finest"/> -->
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
